.icon:hover {
    color: rgb(229, 202, 49);
}

.ad-container {
    background-color: rgb(247, 248, 248);
    display: flex;
    flex-direction: column;
    padding: 3vw 5vw;
    position: fixed;
    z-index: 1002;
    width: 80%;
    height: 70%;
    margin-top: 6vh;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 8px;
}

.ad-container button {
    width: 20%;
    margin: 2vw auto 0;

}

#main-content{
    display: flex;
}
