.icon:hover {
    color: rgb(229, 202, 49);
}

.ad-container {
    background-color: rgb(234, 242, 242);
    display: flex;
    flex-direction: column;
    padding: 5vw;
    position: fixed;
    z-index: 1002;
    width: 80%;
    height: 60%;
    margin-top: 6vh;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 8px;
}

.ad-container button {
    width: 20%;
    margin: auto;
}

.main-content {
    display: flex;
    flex: 1; /* Take up remaining space */
}

.image-container {
    flex: 1; /* Take up remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide any overflow */
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit within container */
}
