.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
  }

  #moreItems{
    justify-content: center;
    display: block;
  }

  #categoryItems{
    display: block;
  }