.searchControls {
    /* padding: 10px; */
    box-sizing: border-box;
}

#searchControls {
    position: fixed;
    top: 25vh;
    right: 2vw;
    z-index: 1000;
    padding: 0 3vw;
    max-height: 900px;
    overflow-y: auto;   
     background-color: #fff;
}

.checboxLabel{
    display: flex;
}

