.item-box {
    width: calc(20% - 20px);
    /* 25% width for each item with 20px margin between items */
    margin-bottom: 20px;
    height: 30vh;
    border: 3px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-box:hover {
    transform: scale(1.05);
    border: 3px solid #0c0479;
}

.item-box img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.item-box p {
    margin: 0;
    padding: 10px;
}

.item-box a {
    text-decoration: none;
    color: #333;
}

#shortDescription {
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    margin-top: 5%;
}
