.details-container {
  margin: 5vw;
    display: flex;
    justify-content: space-between;
  }
  
  .image-container {
    width: 40vw;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .info-container {
    width: 60vw;
    text-align: start;
  }
  
  .seeMoreLess{
    cursor: pointer;
  }
 
  .seeMoreLess:hover{
    color: rgb(229, 158, 36);
  }