nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed; /* Fix the navigation bar at the top */
    top: 0; /* Position it at the top of the page */
    left: 0;
    height: 10%;
    z-index: 1001;
  }
  
  .icon:hover{
    color: rgb(229, 202, 49);
  }
  
  
  .logo img{
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Maintain aspect ratio */
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 50px;
  }
  
  nav ul li:last-child {
    margin-right: 30;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hover effect */
  nav ul li a:hover {
    /* text-decoration: underline; */
    color: #c8bb0c;
  }

  #navLogo{
    border: #c8bb0c solid 3px;
  }