/* Container styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  /* Form styling */
  .signInUpForm {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  /* Label styling */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Input field styling */
  input[type="text"],
  input[type="password"],
  input[type="tel"], select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Submit button styling */
  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Link styling */
  .link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #0056b3;
  }
  
  a:hover{
    cursor: pointer;
    color: #0056b3;
  }